html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

body {
    font-family: sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #B0E0E6); 

    color: #333;
    margin: auto;
    flex: 0 0 99%;
    height: 99%;

    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: 100%;
}

#left-side,
#right-side {
    display: flex;
    flex-direction: column;
    flex: 0 0 48%;
    height: 99%;
    margin: 0 1%;
}

form {
    margin-top: 0.5rem;
    
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    height: 32px;
}

input {
    flex: 1;
    padding: 0.5rem;
}

button {
    width: 124px;
}

h2 {
    text-align: center;
    margin: 24px 0;
}

h3 {
    margin: 32px 0 0 0;
}

h4 { 
    margin: auto 0;
}